
<article {{ this.bbcontent(null, {'class': 'article art-spacing'})|raw }} itemprop="mainContentOfPage" itemtype="http://schema.org/Article" itemscope="">

    <header class="header">

        <h1 itemprop="headline" class="title-article" {{ this.bbcontent(title)|raw }}>
            {{ title.value|raw }}
        </h1>

        <p class="metadata-wrapper links-color">

            <i class="metadata-author big-font cap" id="publisher" itemprop="Publisher" data-source="Marque">{{this.brand() }}</i>

            By <i class="metadata-author" itemprop="author"><a href="#article-author">{{ signature == '' ? 'Undefined' : signature }}</a></i>

            {% if this.getObject().getMainNode() != null and this.getObject().getMainNode().getPublishing() == null %}

                <i>Your article is not published yet and still in edition state</i>

            {% else %}
                {% set published_at = this.getObject().getMainNode().getPublishing() %}
                Publié le <time class="metadata-date-published time" datetime="{{ this.dateHelper(published_at, 'c') }}" itemprop="datePublished">
                    {{ this.dateHelper(published_at)|replace({':': 'h'}) }}
                </time>

                {% if published_at.getTimestamp() < this.getObject().getModified().getTimestamp() %}
                    Mis à jour le <time class="metadata-date-modified time" datetime="{{ this.dateHelper(this.getObject().getModified(), 'c') }}" itemprop="dateModified">
                         {{ this.dateHelper(this.getObject().getModified())|replace({':': 'h'}) }}
                    </time>
                {% endif %}

            {% endif %}
        </p>

        <div itemtype="http://schema.org/ImageObject" itemprop="primaryImageOfPage">
            {{ this.render(image, null, {'crop': 'big'})|raw }}
        </div>

        <h2 {{ this.bbcontent(abstract, {'class': 'title-chapo'})|raw }} itemprop="description">{{ abstract.value|raw }}</h2>
    </header>

    {{ this.render(body)|raw }}

    <section class="bloc">
        {{ this.render(related)|raw }}
    </section>

</article>
