<div {{ this.bbcontent()|raw }}>
    <div class="fb-page" data-height="{{ height }}" data-href="{{ link }}" data-hide-cover="{{ hide_cover }}" data-show-posts="{{ show_post }}">
        <div class="fb-xfbml-parse-ignore">
            <blockquote cite="{{ link }}">
                <a href="{{ link }}">Reload Page</a>
            </blockquote>
        </div>
    </div>
</div>